* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #087575;
    color: #63e0ff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 300px;
}

button {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #63e0ff;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

p {
    font-size: 25px;
    font-weight: 700;

}