* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f3cb96;
    transition: all 0.2s ease;
}

.box {
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.show {
    font-size: 20px;
    font-weight: 700;
    color: #2c1b05;
    letter-spacing: 10px;
    transition: all 0.2s ease;
}

.box1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.2s ease;
}


button {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #2c1b05;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}